*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
build/
results/

# Netbeans folder
nbproyeject/

# Jacocoverage folder
.jacocoverage/

# Do not save keys or certificates
*.jks
*.p12
*.key
*.crt
*ks
/dist/